* {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: #eeeeee;
}

/*Header*/
.header {
  width: 100%; 
  height: 100vh;
  background: url(src/assets/img/img-tatuaje-principal.png) no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
}

.header-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.content {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.content h1 {
  font-size: 500%;
  color: whitesmoke;
  text-shadow: 0 0 300px black;
}

.content a {
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 20px;
  border: 5px solid;
  padding: 7px 13px;
  background-color: #10202771;
}

.content a:hover {
  color: rgb(243, 17, 92);
}

/*Menu Responsive*/
.nav-responsive {
  position: sticky;
  top: 0;
  right: 0;
  color: rgb(243, 17, 92);
  background-color:#102027b9;
}

.nav-container {
  display: flex;
  position: absolute;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-label,
.nav-input {
  display: none;
}

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav-item {
  color: rgb(243, 17, 92);
  text-decoration: none;
}

.nav-item::after {
  content: '';
  display: block;
  background: rgb(243, 17, 92);
  width: 90%;
  margin-top: 3px;
  height: 3px;
}
/*Fin Menu Responsive*/

/*Media Query*/

@media (max-width: 800px) {
  .nav-bar {
    visibility: hidden;
  }

  .nav-label {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    position: -webkit-sticky;
    position: -moz-sticky;
    top: 80px;
    background: #102027e8;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
  }
}

@media (min-width: 800px) {
  .nav-responsive {
    display: none;
  }
}

.nav-input:checked + .nav-menu {
  clip-path: circle(100% at center);
}

/*Fin Media Query*/

/*Fin Header*/

/*Comienzo Body*/

.nav-bar {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #102027;
}

.nav-bar ul li {
  display: inline;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #62727b;
  font-size: 20px;
  margin: 2rem 1rem;
  border-radius: 5px;
  padding: 1rem 5rem;
}

.nav-bar ul li a:hover {
  filter: opacity(0.3);
  transform: scale(2.05);
}

/*Grid*/

.grid-container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column: span 2;
}


.div1, .div2, .div3, .div4, .div5, .div6{
  width: 20em;
  height: 20em;
}

h2,
h3,
h4 
p{
  color: #102027;
  padding: 0.5rem;
}

.nuestro-trabajo,
.nosotros,
.faq,
.contacto {
  font-size: 1em;
  line-height: 150%;
  padding: 1em 3em;
  text-align: justify;
}

/*Fin Body*/

/*Footer*/
.footer {
  font-size: 1em;
  line-height: 150%;
  background-color: #102027;
  padding: 1em 3em;
  color: whitesmoke;
  width: 100%;
  height: auto;
}

/*Fin Footer*/
